* {
	dark-primary-color: #202225;
	dark-secondary-color: #292B2F;
	dark-tertiary-color: #2F3136;
	white-text-color: #FFFFFF;
	light-text-color: #CCCCCC;
	gray-text-color: #999999;
	button-color: #7289DA;
	text-bar-color: #40444B;
}

.primary-root {
	-fx-background-color: dark-primary-color;
}

.secondary-root {
	-fx-background-color: dark-secondary-color;
}

.tertiary-root {
	-fx-background-color: dark-tertiary-color;
}

.scroll-pane, .viewport {
    -fx-background-color: dark-tertiary-color;
	-fx-border-color: dark-tertiary-color;
}

.scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: white-text-color;
}

.text-field {
    -fx-background-color: dark-tertiary-color , dark-tertiary-color , text-bar-color;
	-fx-text-fill: white-text-color;
}

.label {
	-fx-text-fill: white-text-color;
}

.button {
	-fx-background-color: button-color;
	-fx-text-fill: text-bar-color;
}

.room {
	-fx-background-radius: 100;
	-fx-margin: 5;
}